@inherits LayoutComponentBase


<script src="https://kit.fontawesome.com/ca28eb9466.js" crossorigin="anonymous"></script>
<div class="page">
        @if (_authorizationService.IsLoggedIn)
        {
            <div style="position:fixed; top:0px; width:100%">
                @if (_authorizationService.UserType == StockTrackerCommon.Models.UserType.Supplier)
                {
                    <StockTrackerApp.Components.SupplierComponents.NavMenu />
                }
                else if (_authorizationService.UserType == StockTrackerCommon.Models.UserType.Customer)
                {
                    <StockTrackerApp.Components.CustomerComponents.NavMenu />
                }
            </div>
        }
    <main>
        <article class="content px-4" style="margin-top:25px">
            @Body
        </article>
    </main>
    @if (_message != null)
    {
        <div style="position:fixed; bottom:75px; left:5px; z-index:1000; width:350px; height:80px;">
            <StockTrackerApp.Components.MessagePopup Message="_message"/>
        </div>
    }
    @if (_broadcast != null)
    {
        <div style="position:fixed; bottom:75px; right:5px; z-index:1000; width:350px; height:80px;">
            <StockTrackerApp.Components.BroadcastPopup Broadcast="_broadcast" />
        </div>
    }
</div>
