@inherits LayoutComponentBase


<script src="https://kit.fontawesome.com/ca28eb9466.js" crossorigin="anonymous"></script>
<div class="page">
    <div class="" hidden="@(!(_supplierService.IsLoggedIn || _customerService.IsLoggedIn))">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
