


<nav class="navbar">
    <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
        <span class="fa-solid fa-house" style="color: #fdf7f7;" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> Counter
    </NavLink>
    <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </NavLink>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
