


<nav class="navbar">
    <div class="link" @onclick="() => NavigateHome()"> 
        <span class="fa-solid fa-house" style="color: #fdf7f7;" aria-hidden="true"></span>
    </div>
    <div class="link"> 
        <span class="oi oi-plus" aria-hidden="true"></span>
    </div>
    <div class="link"> 
        <span class="oi oi-list-rich" aria-hidden="true"></span>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
