.productsContainer {
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content:center;
}

table{
    width:100%;
    margin:auto;
    justify-content:space-between;
    text-align:center;
}

tr, th, td {
    border: 1px solid black;
}

td{
    cursor:pointer;
}

th{
    text-align:center;
}

.selectedRow{
    background-color:lightblue;
}

.unselectedRow{
    background-color:transparent;
}

.sortingContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; 
}

.sortingContainer *{
    margin: 0 10px 15px;
}

button{
    margin-top: 1rem;
}

.productActionButtonContents{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.productActionButtonContents p{
    margin: 0 0.5rem;
}