<div class="messageContactsContainer">
    <div class="titleContainer">
        <h1>Messages</h1>
        <span class="oi oi-pencil" @onclick="() => CreateNewMessage()" style="color:#322521; cursor:pointer; margin-left:1.5rem;" aria-hidden="true" title="New Message"></span>
    </div>
    <div class="messagePageContainer">
        <div class="messageContacts">
            <h2>Contacts:</h2>
            @foreach (var customer in _customers)
            {
                <div class="messageContact" @onclick="() => ViewMessageThread(customer.CustomerId)">
                    <h4>@customer.FirstNames @customer.Surname</h4>
                </div>
            }
        </div>
        <div class="messageDialogContainer">
            @if (String.IsNullOrWhiteSpace(_selectedContactId) == false)
            {
                <StockTrackerApp.Components.MessageThread ContactId="@_selectedContactId"/>
            }
            else
            {
                <StockTrackerApp.Components.NewMessage/>
            }
        </div>
    </div>
</div>
