@using StockTrackerCommon.Models;

<nav class="navbar">
    @if (_authorizationService.IsLoggedIn == true)
    {
        <div id="navHome" class="link" @onclick="() => NavigateHome()" title="Home">
            <span class="oi oi-home" style="color: #fdf7f7;" aria-hidden="true"></span>
        </div>
        <div id="navOrderRequests" class="link" @onclick="() => NavigateOrderRequests()" title="Order Requests">
            <span class="oi oi-book" style="color: #fdf7f7;" aria-hidden="true"></span>
        </div>
        <div id="navMessages" class="link" @onclick="() => NavigateMessages()" title="Private Messaging">
            <span class="oi oi-chat" style="color: #fdf7f7;" aria-hidden="true"></span>
        </div>
        <div class="link" @onclick="() => Logout()" title="Logout">
            <span class="oi oi-account-logout" style="color: #fdf7f7;" aria-hidden="true"></span>
        </div>
    }
</nav>

