.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*background: #d9b99b;*/
    background: #322521;
    justify-content: space-evenly;
}

.link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fdf7f7;
}

.link p {
    margin-left: 1rem;
    margin-bottom: 0;
}
