.orderHistoryContainer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.acceptedOrdersContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid black;
}

.rejectedOrdersContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid black;
}

.orderHistoryCustomerName {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.orderContainer {
    width: 100%;
    border: 1px solid #ccc;
    padding:1rem;
}