@using StockTrackerCommon.Models;

<div class="pageContainer">
    <h1>Available Suppliers</h1>
    <div class="suppliersContainer">
        @foreach (Supplier supplier in _suppliers)
        {
            <div class="supplier">
                <span id="SupplierNameLabel" @onclick="() => NavigateToViewSupplierPage(supplier.SupplierId)">
                    <p>@supplier.Email</p>
                </span>
            </div>
        }
    </div>
</div>