<div class="messageContactsContainer">
    <div class="titleContainer">
        <h1>Messages</h1>
    </div>
    <div class="messagePageContainer">
        <div class="messageContacts">
            <h2>Contacts:</h2>
            @foreach (var supplier in _suppliers)
            {
                <div class="messageContact" @onclick="() => ViewMessageThread(supplier.SupplierId)">
                    <h4>@supplier.CompanyName</h4>
                </div>
            }
        </div>
        <div class="messageDialogContainer">
            @if (String.IsNullOrWhiteSpace(_selectedContactId) == false)
            {
                <StockTrackerApp.Components.MessageThread ContactId="@_selectedContactId" />
            }
        </div>
    </div>  
    
    
    
</div>
