.messageContactsContainer {
    width: 80%;
    margin: auto;
}

.messageContact {
    cursor: pointer;
}

.messageContact:hover {
    background-color: #fff6e1;
}

.titleContainer {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newMessage {
    cursor: pointer;
    color: #322521;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newMessage:hover {
    background-color: #ccc4b4;
}

.newMessage p {
    margin: 0 0.5rem;
}


.messagePageContainer {
    width: 100%;
    height: 100%;
    background-color: #ccc4b4;
    border-radius:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messageContacts {
    display: flex;
    flex-direction: column;
    width: 17%;
    height:100%;
    margin-left:1rem;
}

.messageDialogContainer {
    width: 77%;
    height: 80vh;
}
