<div class="messageContactsContainer">
    <div class="titleContainer">
        <h1>Messages</h1>
        <div class="newMessage" @onclick="() => CreateNewMessage()">
            <span class="oi oi-pencil" style="color:#322521; cursor:pointer; margin-left:1.5rem;" aria-hidden="true" title="New Message"></span>
            <p>New Message</p>
        </div>
    </div>
    <div class="messagePageContainer">
        <div class="messageContacts">
            <h2>Select Conversation:</h2>
            @foreach (var supplier in _suppliers)
            {
                <div class="messageContact" @onclick="() => ViewMessageThread(supplier.SupplierId)">
                    <h4>@supplier.CompanyName</h4>
                </div>
            }
        </div>
        <div class="messageDialogContainer">
            @if (String.IsNullOrWhiteSpace(_selectedContactId) == false)
            {
                <StockTrackerApp.Components.MessageThread ContactId="@_selectedContactId" />
            }
            else
            {
                <StockTrackerApp.Components.NewMessage />
            }
        </div>
    </div>  
</div>
