<div class="messageContactsConatiner">
    <h1>Messages</h1>
    @foreach (var supplier in _suppliers)
    {
        <div class="messageContact" @onclick="() => NavigateToMessageThread(supplier.SupplierId)">
            <h4>@supplier.CompanyName</h4>
        </div>
    }
</div>
