.messagePopupContainer {
    background-color: #322521;
    color: #fff6e1;
    border: 1px solid black;
    border-radius: 6px;
    padding-left:2rem;
}

.messagePopupContainer h2{
    font-size:14px;
    margin-top:1rem;
}

.messagePopupContainer h4{
    font-size:13px;
}

.messagePopupContainer p{
    font-size:12px;
}

.messagePopupContainer button{
    font-size:12px;
}

.popupButtons{
    display:flex;
    flex-direction:row;
    justify-content:left;
}

.popupButtons button{
    margin-right:1rem;
}