<div class="messagePopupContainer">
    <h2>@Message.Subject</h2>
    <h4>@_senderName</h4> 
    <p>@Message.MessageBody</p>
    <button type="button" class="messagePopupButton" @onclick="() => NavigateToMessageThread()">View Message</button>
</div>
