.manageProductContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    align-items:center;
    border:2px solid #000;
}

.manageProductFieldRow {
    display:flex;
    flex-direction:row;
    margin:auto;
    width:100%;
}

.manageProductFieldLarge{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    margin-top:1.5rem;
}


.manageProductFieldLarge * {
    width:80%;
}
.manageProductFieldSmall {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 1.5rem;
}

.manageProductButtons *{
    margin-left:5px;
    margin-right:5px;
}


button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    background-color: #fff0b6;
}