@page "/"


<div class="loginPage">
    <h1>Login</h1>
    <div class="loginContainer">
        <span class="loginField">
            <label for="loginUsername">Username:</label>
            <input type="text" id="loginUsername" required @bind="_username" />
        </span>
        <span class="loginField">
            <label>Password:</label>
            <input type="password" id="loginPassword" required @bind="_password" />
        </span>
        <button type="button" @onclick="Login">Login</button>
        <p>@_loginPrompt</p>
    </div>
</div>
<a><i class="fa-solid fa-burger"></i></a>
<i class="fa-solid fa-house" style="color: #fdf7f7;"></i>
