@page "/MessageThread/{ContactId?}"
@using StockTrackerCommon.Models;


<div class="messageThreadsPageContainer">
    @if (String.IsNullOrWhiteSpace(ContactId) == false)
    {
        <StockTrackerApp.Components.MessageThread ContactId="@ContactId" />
    }
</div>