@page "/MessageThread/{ContactId?}"
@using StockTrackerCommon.Models;


<div class="messageThreadsPageContainer">
    @if (String.IsNullOrWhiteSpace(ContactId) == false)
    {
        <StockTrackerApp.Components.MessageThread ContactId="@ContactId" />
    }
    <button type="button" @onclick="() => NavigatePreviousPage()">
        <div class="backButtonContents">
            <span class="oi oi-arrow-circle-left" style="color: #322521;" aria-hidden="true"></span>
            <p>Back</p>
        </div>
    </button>
</div>