.messageThreadsContainer {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction:column;
}

.messageThreadsContactContainer{
    height:50px;
    background-color:#322521;
    color:white;
    text-align:center;

}

.messageContainer{
    display:flex;
    flex-direction:row;
    margin-top: 10px;
}

.userMessage{
    justify-content:right;
}

.userMessage p{
    color:white;
    width:40%;
    flex-wrap:wrap;
    background-color:#322521;
    padding:5px;
    border-radius:3px;
}

.contactMessage {
    justify-content: left;
}

.contactMessage p {
    color: black;
    width: 40%;
    flex-wrap: wrap;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

.sendMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sendMessageInput{
    width:75%;
}

.sendMessageButton{
    width:20%;
}


