@page "/ViewBasket";

@using StockTrackerCommon.Models;

<div class="viewBasketContainer">
    <h1>View Baskets</h1>
    @foreach (Supplier supplier in _suppliers)
    {
        <div class="basketSupplierContainer">
            <div class="basketSupplierName">
                <h3>Supplier: @supplier.CompanyName</h3>
                <span class="oi oi-chat" style="color: #322521; cursor:pointer; margin-left:2rem;" @onclick="() => NavigateNewMessage(supplier.SupplierId)" title="Message"></span>
            </div>
            @foreach(Product product in _basketProducts.Where(prod => prod.SupplierId == supplier.SupplierId))
            {
                <div class="basketProductContainer" style="margin:1rem 0;">
                    <div class="productDetails">
                        <h4>@product.ProductName</h4>
                        <h4>£@product.Price</h4>
                    </div>
                    <div class="productBasket">
                        <input type="number" @bind-value="_productBasketQuantities[product.ProductId]" min="0" />
                        <button type="button" @onclick="() => UpdateBasket(product)">
                            @(_orderService.BasketItems.Any(item => item.ProductId == product.ProductId) ? "Update Basket" : "Add To Basket")
                        </button>
                    </div>
                </div>
            
            }

            <h3>Total Price: £@_totalBasketPrices[supplier.SupplierId]</h3>
            <button type="button" @onclick="() => CreateOrderFromSupplierAsync(supplier)">Order</button>
        </div>      
    }
</div>